certifi==2017.7.27.1
chardet==3.0.4
cheroot==6.0.0
CherryPy==14.0.0
click==6.7
Flask==0.12.2
glob2==0.6
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
jasmine==3.0.0
jasmine-core==3.0.0
Jinja2==2.9.6
MarkupSafe==1.0
more-itertools==4.1.0
ordereddict==1.1
portend==2.2
pytz==2018.3
PyYAML==3.10
requests==2.18.4
selenium==3.9.0
six==1.11.0
tempora==1.10
urllib3==1.22
Werkzeug==0.12.2
