.hidden{
	display: none;
}

/*panel styling*/
.panel-heading {
	font-size: 20px;
	font-style: bold;
}
.panel-body{
	font-size: 18px;
}

/*navbar*/
.navbar-default .navbar-header .navbar-brand{
	color: #5cb85c;
	font-size: 30px;
}

/*gray line at bottom of page*/
body hr{
	border-top: 1px solid #e5e5e5;
}

/*remove button from family member page*/
.rmv-btn{
	background-color: red !important;
	border-color: red !important;
	touch-action: manipulation;
}

/*info text at top of page*/
.info-text{
	color: gray;
	padding-left: 0;
}

/*tooltips*/
.col-md-2.tips {
	padding-left: 0;
	padding-right: 0;
	padding-top: 3px;
}

.col-md-4.tips {
	padding-left: 0;
	padding-right: 0;
	padding-top: 2px;
}

@media (max-width: 978px) { 
	.col-md-4.tips {
		padding-left: 20px;
	}
	.col-md-2.tips {
		padding-left: 15px;
	}

}

/*modal styling*/
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modalForm{
	margin: auto;
	width: 80%;
}

#displayIncome{
	text-align: left;
	font-size: 1.25em;
}

/*hidden class*/
.hidden{
	display: none;
}

/*progress bar*/
.one, .two, .three{
    position:absolute;
	margin-top:-10px;
	z-index:1;
	height:30px;
	width:30px;
	border-radius:25px;
	
}
.one{
	left:25%;
}
.two{
	left:50%;
}
.three{
	left:75%;
}
.primary-color{
	background-color:#4989bd;
}
.success-color{
	background-color:#5cb85c;
}
.danger-color{
	background-color:#d9534f;
}
.warning-color{
	background-color:#f0ad4e;
}
.info-color{
	background-color:#5bc0de;
}
.no-color{
	background-color:inherit;
}

.progress{
	height: 10px !important;
}

.fake-legend{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
}

/*county dropdown on fam-form*/
.col-md-2.control-label.county-backup{
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 15px;
}

div.col-md-2.county-backup{
	padding-right: 0;
	padding-left: 0;
	margin-bottom: 15px;
}

#issue-div{
	text-align: right;
	padding-top: 4px;
}