<!doctype html>
<html>
<head>
  <title>CalWorks Calculator</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/CSS/styles.css">


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body >
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">
	        CalWORKS Calculator
	      </a>
	    </div>
      <div id="issue-div">
        <a target="_blank" id="issue" href="https://github.com/KSaryan/CalWORKs-Calc/issues"> report an issue </a>
      </div>
	 </div>
	</nav>
  <div class="container">
    {% block content %} put your content here {% endblock %}
  </div>

<div class="container info-text">
 {% block footer %}  {% endblock %}
</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  {% block script %}  JS goes here {% endblock %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>