{% extends 'base.html' %}

{% block content %}
<div id="fam-mems">
<div class="row">

<form class="form-horizontal" id = 1 >
<fieldset>

<!-- Form Name -->
<legend>Family Member 1</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="ABCDE">Category</label>
  <div class="col-md-4">
    <select id="ABCDE" name="ABCDE" class="form-control save-change 1">
      <option value="None"> Choose a Category</option>
      <option value="A">A (AU (non MFG and non-penalized))</option>
      <option value="B">B (Penalized AU)</option>
      <option value="C">C (non-AU (if income counted or ineligible non citizen)</option>
      <option value="D">D (MFG)</option>
      <option value="E">E (SANCTIONED)</option>
      <option value="None">None</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="income">Monthly Income</label>  
  <div class="col-md-4">
  <input name="income" type="number" placeholder="#" class="form-control input-md save-change 1" required="">
    
  </div>
</div>



<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="mem-sub"> </label>
  <div class="col-md-8">
    <button name="mem-sub" class="btn btn-success save-btn-1" data-form = 1 >Save</button>
    <button name="add" class="btn btn-primary save-btn-1 add-btn-1 btn1" data-form = 1>Save And Add Another Member</button>
  </div>
</div>
</fieldset>
</form>
</div>
</div>

<hr>

<!-- Div to display warning message -->
<div class="warning"></div>

<!-- Calcuate grant button -->
<div class="row">
  <form action= "/calc_grant" method="POST" id="calc-grant">
    <input type="hidden" value="" name= "family" id= "family"></input>
    <input type="hidden" value={{ city }} name="city" id="city"></input>
    <input type="submit" id="calc-btn" class="btn btn-primary" value = "Calculate Family Grant"> </input>
  
  </form>
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="fam-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Information</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Family Member</th>
            <th>Income</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody id= 'fam-table'>
          
        </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="submitmodal-fam" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}  
<script type="text/javascript" src='/static/fam_form.js'></script> 
{% endblock %}
