{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 col-sm-9 col-sm-offset-1">
<div class="panel panel-default">
  <div class="panel-heading">Estimated Grant Amount*</div>
  <div class="panel-body"> The family's estimated grant is <b>${{grant}}</b> per month.</div>
  <div class="panel-footer">
    <button id="submit-error" name="submit-error" class="btn btn-success">Home</button>
  </div>
</div>
</div>
{% endblock %}

{% block footer%}
<footer class="footer">
	*This is an estimate of the grant amount and ignores certain factors, such as child care and special needs (i.e. therapeutic diets, special transportation costs, etc…).  Always consult the <a target="_blank" href="http://www.cdss.ca.gov/inforesources/CalWORKs/Regulations-and-Policy"> Manual of Policies and Procedures </a> to determine if other factors may increase or decrease the grant amount.  Or speak with an advocate or an attorney to see whether your individual circumstances could change your grant amount.

</footer>
{% endblock %}

{% block script%}
<script type="text/javascript">

$('#submit-error').click(function(){
   window.location.href='/';
})
</script>

{% endblock %}