{% extends 'base.html' %}
{% block content %}

<div class="col-xs-12 col-sm-10 col-sm-offset-1">
<div class="panel panel-default">
  <div class="panel-heading">Welcome</div>
  <div class="panel-body">
    <p>Welcome to the CalWorks Calculator. This site was designed to make it easier to calculate the CalWorks grant for a family.</p>
    <p>Please be advised that this calculator only asseses income eligibility. To learn about other elgibility factors, please visit the follwing link: <a href="https://ca.db101.org/ca/programs/income_support/calworks/program2.htm" target="_blank"> Disability Benefits 101 <a></p>
  </div>
  <div class="panel-footer">
    <button id="submit-sorry" name="submit-sorry" class="btn btn-success">Continue</button>
  </div>
</div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript">

$('#submit-sorry').click(function(){
   window.location.href='/intake_form';
})
</script>

{% endblock %}
