{% extends 'base.html' %}
{% block content %}



<form id="homeform" class="form-horizontal" action='/passed_net_income_test' method="POST">
<fieldset>

<!-- Form Name -->
<legend>Basic Family Info

<h6 class="info-text"> This information will be used to calculate whether the family passes the net income test and possibly qualifies for a grant. <br> Please fill out as accuratly as possible.</h6>
</legend>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="fam_members">Total Family Members*</label>  
  <div class="col-md-4">
  <input id="fammembers" name="fammembers" type="number" placeholder="0" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="emp_fam_members">Total Employed Family Members</label>  
  <div class="col-md-4">
  <input id="empmembers" name="empmembers" type="number" placeholder="0" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="total_income">Total Family Monthly Income (pre-tax)</label>  
  <div class="col-md-4">
  <input id="income" name="income" type="number" placeholder="0" class="form-control input-md" required="">
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="county_of_res">County of Residence</label>
  <div class="col-md-4">
    <select id="county" name="county" class="form-control">
      <option value="other"> Choose a County </option>
      {% for county in counties%}
         <option value="{{county |replace(" ", "-") }}">{{county}}</option>
      {% endfor %}
    </select>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit-home"> </label>
  <div class="col-md-4">
    <button id="submithome" name="submit-home" class="btn btn-success">Submit</button>
  </div>
</div>

</fieldset>
</form>

<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="home-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Information</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Input Field</th>
            <th>Family Info</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Family Members</td>
            <td class = "fammembersinfo"></td>
          </tr>
          <tr>
            <td>Employed Family Members</td>
            <td class = "empmembersinfo"></td>
          </tr>
          <tr>
            <td>Family Income</td>
            <td class = "incomeinfo"></td>
          </tr>
           <tr>
            <td>County of Residence</td>
            <td class = "countyinfo"></td>
          </tr>
        </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="submitmodal" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer%}
<br>
<hr>
* Include care-takes, parents, and minor-children living together.
{% endblock %}

{% block script %}
  <script type="text/javascript" src= "/static/js/makemoney.js"></script>
  <script type="text/javascript" src= "/static/js/intake_form.js"></script>

{% endblock %}