{% extends 'base.html' %}
{% block content %}
<div class="col-xs-12 col-sm-9 col-sm-offset-1">
<div class="panel panel-default">
  <div class="panel-heading">Sorry</div>
  <div class="panel-body">This family does not qualify for a CalWORKS aid payment. </div>
  <div class="panel-footer">
    <button id="submit-sorry" name="submit-sorry" class="btn btn-success">Home</button>
  </div>
</div>
</div>

{% endblock %}

{% block script%}
<script type="text/javascript">

$('#submit-sorry').click(function(){
   window.location.href='/';
})
</script>

{% endblock %}